$color: red;
$margin: auto;
$font-size: 100%;
$width: auto;

h1 {
    color: $color;
    margin: $margin;
    font-size: $font-size;
    width: $width;
}

#list {
    // color: $color;
    // margin: $margin;
    // font-size: $font-size;
    width: $width;
}

h3 {
    // // color: $color;
    // margin: $margin;
    // font-size: $font-size;
    width: $width;
}
